## Auto generated providers.tf ##
## Updated on: {{ timestamp }} ##

provider "aws" {
  region = "{{ provider_region }}"
  assume_role {
    role_arn    = "{{ target_admin_role_arn }}"
  }
  default_tags {
    tags = {
      managed_by = "AFT"
      IDCargoSAP       = "11111"
      Proyecto         = "11111"
      Ambiente         = "11111"
      Responsable      = "111111"
      Servicio         = "1111111a"
      Direccion        = "11111111"
      Gerencia      = "111111"
      CentroCostos     = "1111111"
    }
  }
}