## Auto generated providers.tf ##
## Updated on: {{ timestamp }} ##

provider "aws" {
  region = "{{ provider_region }}"
  assume_role {
    role_arn    = "{{ target_admin_role_arn }}"
  }
  default_tags {
    tags = {
      managed_by = "AFT"
      IDCargoSAP       = "51510SSC"
      Proyecto         = "MSN-5245"
      Ambiente         = "Produccion"
      Responsable      = "Carlos Orozco"
      Servicio         = "Linea Base de Seguridad"
      Direccion        = "D.R. Centro de Servicios Tecnologicos"
      Gerencia      = "GAT Gerencia de Tecnologia Regional"
      CentroCostos     = "51510SSC"
    }
  }
}
